{namespace mu=Fab\MediaUpload\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<f:flashMessages />

		<div class="tx_jvmediaconnector" >

			<f:form  id="qq-upload-form" action="resize" noCache="1" enctype="multipart/form-data" pageUid="{settings.pids.manage}" name="newMedia" object="{newMedia}">
				<mu:widget.upload allowedExtensions="jpg,png,gif,jpeg" storage="1" maximumItems="1" maximumSize="16" sizeUnit="Mo" property="sysfile"/>

			</f:form>
			<div class="row tx_jvmediaconnector-list">
				<f:for each="{medias}" as="media">
					<f:if condition="{media.sysfile.originalResource}">

						<div class="card col-6 col-sm-4 col-lg-3 p-3">
							<f:link.action class="btn btn-success w-100 px-1" pageUid="{settings.pids.manage}" action="createMediaRef" arguments="{media : media.sysFile.originalResource.uid , reference : sessionData}">
								<f:image image="{media.sysfile.originalResource}" maxWidth="360" class="w-100 h-auto" alt="img"></f:image>
							</f:link.action>

							<div class="row px-2">
									<f:link.action class="btn btn-danger col-4 m-2 px-1" pageUid="{settings.pids.manage}" action="delete" arguments="{media : media}">
										<i class="fa fa-trash"></i> <span class="d-none d-md-inline-block">Delete</span>
									</f:link.action>

								<f:if condition="{sessionData}">
									<f:link.action class="btn btn-success col-4 m-2 px-1" pageUid="{settings.pids.manage}" action="createMediaRef" arguments="{media : media.sysFile.originalResource.uid , reference : sessionData}">
										<i class="fas fa-link"></i> <span class="d-none d-md-inline-block">Use</span>
									</f:link.action>
								</f:if>
							</div>
						</div>
					</f:if>
				</f:for>
			</div>
		</div>
	</f:section>
</html>