{namespace mu=Fab\MediaUpload\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<h1>Your images and Media files</h1>

		<f:flashMessages />

		<div class="tx_jvmediaconnector" >

			<f:form  id="qq-upload-form" action="resize" enctype="multipart/form-data" pageUid="{settings.pids.manage}" name="newMedia" object="{newMedia}">
				<mu:widget.upload allowedExtensions="jpg,png,gif,jpeg" storage="1" maximumItems="1" maximumSize="16" sizeUnit="Mo" property="sysfile"/>
				<f:form.submit value="Continue" />
			</f:form>
			<div class="row">
				<f:for each="{medias}" as="media">

					<div class="card">
						<f:link.action action="delete" arguments="{media : media}">Delete</f:link.action>
					</div>
				</f:for>
			</div>
		</div>
	</f:section>
</html>