{namespace mu=Fab\MediaUpload\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">

    <f:flashMessages />
    <f:render partial="FormErrors" />
      <f:link.action id="goBackUrl" action="new" class="btn btn-secondary"> < Try again </f:link.action> <f:form.submit value="Create new" class="d-none"/>
      <f:link.action pageUid="{settings.pids.list}" id="goListUrl" noCache="1" noCacheHash="1" action="list" class="btn btn-secondary"> << Back to List </f:link.action> <f:form.submit value="Create new" class="d-none"/>

      <span class="upload-ctrl"><a id="doCrop" class="btn btn-primary" href="#" onclick="return false;"><span class="fa fa-expand"></span> OK</a></span>

      <mu:widget.showUploaded property="sysfile" />


    <f:format.raw>
      <script type="text/javascript">
        var jcp;


        jQuery(window).on('load' , function(){
          showSpinner();
          Jcrop.load('unCroppedImg-0').then(img => {
            var ratio = 4/3;
            jcp = Jcrop.attach(img,{multi:false,w:240,h:180, aspectRatio:ratio, handles: ['sw','nw','ne','se']});

            const [w,h] = Jcrop.Rect.getMax(600,450,ratio);
            var rect = Jcrop.Rect.fromPoints([0,0],[w,h]);
            var widget = jcp.newWidget(rect);
            jcp.focus();

            jQuery(window).on('dblclick' , function(){
              showSpinner();
              handleCrop();
            });
          });
          jcp.on('ready' , function() {

            hideSpinner() ;
          }) ;


          var button = jQuery('.upload-ctrl');
          var button = jQuery(button).removeClass("d-none");
          button.click(function() {
             showSpinner();
             handleCrop();
          });

        });

        function handleCrop() {
          if (!jcp.active) { alert("please select an area of the Image") ; }
          var imageElement = jQuery('#unCroppedImg-0');
          var imageSrc = jQuery(imageElement).attr("src");
          var displayH = jQuery(imageElement).height();
          var displayW = jQuery(imageElement).width();


          var cropData = {
            tx_jvmediaconnector_connector: {
              cropData: {
                x: jcp.active.pos.x,
                y: jcp.active.pos.y,
                x2: jcp.active.pos.x2,
                y2: jcp.active.pos.y2,
                w: jcp.active.pos.w,
                h: jcp.active.pos.h ,
                img: imageSrc,
                dw: displayW ,
                dh: displayH ,
              }
            }
          };

          var data = {
            'no_cache': 1,
            'type': 44900073,
            'tx_jvmediaconnector_connector': {
              controller: 'Media',
              action: 'cropImage'
            }
          };

          var url = window.location.pathname + '?' + jQuery.param(data);
          jQuery.post(url, cropData, function (response) {

            if (response.meta.success) {
               jQuery('#unCroppedImg-0').attr('src', response.data.image);
            } else {
               alert(response.meta.message);
            }
            if( jQuery("#goListUrl").length ) {
              if( jQuery("#goListUrl").attr("href") ) {
                 window.location.href = jQuery("#goListUrl").attr("href") ;
              }
            }


          }, 'json');
        }

      </script>
    </f:format.raw>

  </f:section>
</html>