{namespace mu=Fab\MediaUpload\ViewHelpers}

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">
    <h1>Select the area that should be shown </h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />


    <f:form action="create"  name="newMedia" object="{newMedia}">
      <f:link.action id="goBackUrl" action="new" class="btn btn-secondary"> << Try again </f:link.action> <f:form.submit value="Create new" class="d-none"/>
      <span class="upload-ctrl d-none"><a class="btn btn-primary" href="#" onclick="return false;"><span class="fa fa-expand"></span> OK</a></span>
      <mu:widget.showUploaded property="sysfile" />

    </f:form>
    <f:format.raw>
      <script type="text/javascript">
        jQuery(window).on('load' , function(){
          var button = jQuery('.upload-ctrl');
          button.click(function() {
            showSpinner()
             var cropData = jQuery(this).data();
             handleCrop(cropData);
          });
          var imageElement = jQuery('#unCroppedImg-0');
          imageElement.Jcrop({
            aspectRatio: 1024 / 768,
            // 50 => See .upload-ctrl
            setSelect:   [ 0 , 0, imageElement.width() , (imageElement.height) ],
            onSelect: function(c) {
                button.removeClass("d-none")
                button.data(c);
            },

          }).after(button);

        });

        function handleCrop(buttonData) {
          var imageElement = jQuery('#unCroppedImg-0').attr("src");
          var cropData = {
            tx_jvmediaconnector_connector: {
              cropData: {
                x: buttonData.x,
                y: buttonData.y,
                x2: buttonData.x2,
                y2: buttonData.y2,
                w: buttonData.w,
                h: buttonData.h ,
                img: imageElement
              }
            }
          }

          var data = {
            'no_cache': 1,
            'type': 44900073,
            'tx_jvmediaconnector_media': {
              controller: 'Media',
              action: 'cropImage'
            }
          };

          var url = window.location.pathname + '?' + jQuery.param(data);
          jQuery.post(url, cropData, function (response) {

            if (response.meta.success) {
               jQuery('#unCroppedImg-0').attr('src', response.data.image);
            } else {
               alert(response.meta.message);
            }
            hideSpinner() ;
            if( jQuery("#goBackUrl").length ) {
              alert( " href = " + jQuery("#goBackUrl").attr("href") ) ;
              if( jQuery("#goBackUrl").attr("href") ) {
                window.location.href( jQuery("#goBackUrl").attr("href") );
              }
            }


          }, 'json');
        }

      </script>
    </f:format.raw>

  </f:section>
</html>